:root {
    --primary-color: #003439;
    --primary-shades: #00070b;
    --para-color: #80849c;
    --helper-color: #12c4fa;
    --white: #fff;
    --bg-color: #e6e6eb;
}
.dark{
    --primary-color: #12c4fa;
    --primary-shades: #e3e6e9;
    --para-color: #e3e4e7;
    --helper-color: #003439;
    --white: rgb(0, 0, 0);
    --bg-color: #303031;
    --containerBg: rgb(38, 50, 55);
    --containerListBg: rgb(58, 50, 50);
    --containerBgText: rgb(255, 255, 255);
    --containerListBgText: rgb(255, 255, 255);
}
.footer-distributed {
    background:var(--white);
    box-shadow:1px 1px 10px var(--primary-shades);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 45px 40px 0px 40px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */

.footer-distributed h3 {
    color:var(--primary-shades);
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: var(--primary-color);
}

/* Footer links */

.footer-distributed .footer-links {
    color: var(--primary-shades);
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-links a:hover {
    color:var(--para-color);
}

.footer-distributed .footer-company-name {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    transition: all 0.5s;
}

.footer-distributed .footer-company-name:hover {
    color:var(--primary-color);
    cursor: pointer;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color:var(--bg-color);
    color:var(--primary-shades);
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color:var(--primary-shades);
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color:var(--primary-color);
    text-decoration: none;
    
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color:var(--helper-color);
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color:var(--primary-shades);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
    align-items: center;
}

.footer-distributed .footer-icons a {
    font-size: 15px;
    display: inline-block;
    width: 35px;
    height: 35px;
border-radius: 50%;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 35px;
    transition: all .3s;
    box-shadow: 1px 1px 3px var(--primary-shades);
}
.footer-distributed .footer-icons a:nth-child(1){
    background-color: rgb(0, 166, 255);
}
.footer-distributed .footer-icons a:nth-child(2) {
    background-color: rgb(254, 0, 63);
}
.footer-distributed .footer-icons a:nth-child(3) {
    background-color: rgb(255, 52, 133);
}
.footer-distributed .footer-icons a:nth-child(4) {
    background-color: rgb(53, 151, 0);
}

.footer-distributed .footer-icons a:hover {
    background-color: var(--para-color);
    color: var(--white);
}
.termsCondition{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--para-color);
    width: 100%;
    padding: 10px 0;
}
.termsCondition a{
    cursor: pointer;
    font-weight: 300;
    padding-left: 10px;
    text-align: center;
    font-size: 12px;
   
}
.termsCondition a:hover{
    font-weight: 500;
    color:var(--primary-color);
    transition: all .1s linear;
    text-decoration: underline;
}
.termsCondition a:last-child:hover{
    text-decoration: none;
    cursor: text;
    font-weight: 300;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }

}