@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Nerko+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

:root {
  --primary-color: #003439;
  --primary-shades: #00070b;
  --para-color: #80849c;
  --helper-color: #12c4fa;
  --white: #fff;
  --bg-color: #e6e6eb;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: inline-block;
  width: 70%;
  height: 100%;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: var(--primary-color);
}

.para {
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 400;
  color: var(--para-color);
}

/*--------------------------------
 header and navbar style start 
 <!-- subscribe to thapa technical Channle plz 
 link:https://www.youtube.com/thapatechnical -->
------------------------- */
.header {
  height: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5.4rem;
  position: relative;
}

.header img {
  height: 100%;
  width: 300px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  font-size: 1.5rem;
}

.navbar-list .navbar-btn {
  padding: 1.2rem 2.4rem;
  background-color: var(--white);
  border: 1px solid var(--helper-color);
  color: var(--helper-color);
  border-radius: 5rem;
  transition: all 0.3s ease-in-out;
}

.navbar-list .navbar-link:hover,
.navbar-list .navbar-link:active {
  color: var(--helper-color);
}

.navbar-btn:hover,
.navbar-btn:active {
  background-color: var(--helper-color);
  color: var(--white);
}

.navbar-link {
  text-transform: uppercase;
}

.mobile-nav-icon {
  font-size: 4rem;
  color: var(--primary-color);
}

.mobile-navbar-btn {
  display: none;
}

.mobile-nav-icon[name="close"] {
  display: none;
}


.docked-btns-calculator {
  position: fixed;
  top: 36%;
  right: 2px;
  z-index: 9;
}

.docked-btns-calculator .register {
  display: inline-block;
  padding: 10px 25px;
  margin: 0 10px;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: var(--helper-color);
  color: #fff;
  font-weight: bold;
  border-radius: 20px;

  transition: all 0.3s ease-in-out;
}

.docked-btns-calculator .register ion-icon {
  transform: scale(1.7);
}

.docked-btns-calculator :hover,
.docked-btns-calculator :active {
  background-color: var(--para-color);
  transform: scale(1.05);

}

.docked-btns-todolist {
  position: fixed;
  top: 42%;
  right: 2px;
  z-index: 9;
}

.docked-btns-todolist .register {
  display: inline-block;
  padding: 10px 25px;
  margin: 0 10px;
  border-radius: 3px;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: var(--helper-color);
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  border-color: transparent;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.docked-btns-todolist :hover,
.docked-btns-todolist :active {
  background-color: var(--para-color);
  transform: scale(1.05);
}

.docked-btns-todolist-iframe {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  display: none;
}

.docked-btns-todolist-iframe-close {
  position: fixed;
  top: 20%;
  left: 58%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: none;
}

.docked-btns-todolist-iframe-close button {
  cursor: pointer;
  background-color: transparent;
  font-size: 20px;
  color: rgba(255, 42, 0, 0.723);
  border: none;
}

.docked-btns-todolist-iframe-close button:hover {
  color: rgba(255, 30, 0, 0.941);
}




/* resuable code  */
.section {
  padding: 9.6rem 0;
}

.center-container {


  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-column {
  grid-template-columns: repeat(3, 1fr);
}

.btn {
  font-size: 1.6rem;
  text-transform: capitalize;
  padding: 1.6rem 3.2rem;
  border-radius: 10rem;
  background-color: var(--helper-color);
  color: var(--white);
  transition: all 0.2s linear;
}

.btn:hover,
.btn:active {
  transform: scale(1.05);
}

/*-------------------conatiner--------------------*/
.main-container {
  background-color: rgb(229, 237, 237);
  width: 100%;
  height: 100%;
  padding: 15px 25px;
  border-top: 1px solid #ddd;
  overflow-y: scroll;
}

/*--------------------------------
 hero section style start 
 <!-- subscribe to thapa technical Channle plz 
 link:https://www.youtube.com/thapatechnical -->
------------------------- */

.section-hero {
  position: relative;
}

.section-hero::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 9.6rem;
  right: 0;
  width: 30%;
  height: 50%;
  background: var(--bg-color);
  z-index: -1;
}

.primary-heading {
  font-size: 6rem;
  font-weight: 700;
}

.section-hero .para {
  margin-top: 2rem;
  margin-bottom: 3.2rem;
}

.hero-icons {
  margin-top: 4.2rem;
}

.hero-icons .icon {
  font-size: 6rem;
  position: relative;
}

.hero-icons h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}

.section-hero .hero-icon-style .para {
  line-height: 1.6;
  font-family: 1.4rem;
  margin: 0;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.hero-image img {
  height: 90%;
  box-shadow: 0 0 10rem 0 rgba(0, 0, 0, 0.1);
}

.hero-img-overlay {
  position: absolute;
  bottom: 0;
  left: -10%;
  background-color: var(--primary-color);
  padding: 4rem;
}

.hero-img-overlay .para {
  color: var(--white);
}

.hero-img-overlay .para:nth-child(2) {
  margin: 0;
  font-weight: bold;
}

.hero-img-overlay .para:last-child {
  margin: 0;
}

#preloder {
  background: rgba(255, 255, 255, 0.608) url(./img/loder.gif) no-repeat center center;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/*--------------------------------
  media queries style start 
  <!-- subscribe to thapa technical Channle plz 
 link:https://www.youtube.com/thapatechnical -->
------------------------- */




@media (max-width: 1250px) {

  .container {
    padding: 0 6rem;
  }

  html {
    font-size: 56.25%;
  }
}

@media (max-width: 1162px) {
  .header img {
    width: 150px;

  }

}

@media (max-width: 980px) {
  .header img {
    width: 300px;

  }

}

@media (max-width: 980px) {
  .docked-btns-todolist .register {
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 100;
  }

  .docked-btns-calculator .register {
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 100;
  }

  .docked-btns-calculator {
    position: fixed;
    top: 87%;
    z-index: 9;
  }

  .docked-btns-todolist {
    position: fixed;
    top: 92%;
    z-index: 9;
  }

  .docked-btns-todolist-iframe-close {
    top: 17%;
    left: 78%;
  }

  .container {
    max-width: 96rem;
  }

  .section-hero .grid-two-column {
    grid-template-columns: 1fr;
  }

  .section-hero .hero-icons .grid-two-column {
    grid-template-columns: 1fr 1fr;
  }

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
    transition: all 0.3s linear;

    opacity: 1;
    visibility: visible;
    pointer-events: none;
  }

  .navbar .navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar .navbar-link {
    color: var(--white);
  }

  .mobile-navbar-btn {
    display: block;
    z-index: 9999;
  }

  .active .navbar {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    z-index: 999;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close"] {
    display: block;
    color: var(--white);
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu"] {
    display: none;
    color: var(--white);
  }

  .section::before {
    height: 30%;
  }

  .hero-image img {
    width: 50%;
    height: 100%;
  }

  .hero-image .hero-img-overlay {
    width: 80%;
    left: 0;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .hero-image img {
    width: 80%;
  }

  .hero-image .hero-img-overlay {
    width: 90%;
    left: 0;
  }
}